
<div class="admin container-fluid" ng-controller="AdminBanniereCtrl" >

	<div style="text-align:center;margin-top:0px;background-color:rgba(0,0,0,0.6);height:50px;color:white;margin-bottom:10px;">
		<h3 style="padding-top:10px;">Tableau de bord d'administration de Ounkoun</h3>
	</div>

	 <div class="col-lg-2 nav-gauche" style="height:500px;width:200px;color:white;">
        <ul class="vertical-menu" style="color:white; margin-top:30px;">
		   
			<li>
				<a href="#!/admin/marques">GESTIONS DES MARQUES 
				</a>
			</li>
			
			<li>
				<a href="#!/admin/categories">GESTIONS DES CATEGORIES
				</a>
			</li>

			<li>
				<a href="#!/admin/produits">GESTIONS DES PRODUITS
				</a>
			</li>

			<li>
				<a href="#!/admin/utilisateurs">GESTION DES UTILISATEURS </a>
			</li>

		    <li>
				<a href="#!/admin/commandes">GESTION DES COMMANDES
				</a>
			</li>

			<li>
		        <a href="#!/admin/boutique">GESTION DES BOUTIQUES
		        </a>
      		</li>

			<li>
				<a href="#!/admin/notifications">GESTION DES NOTIFICATIONS
				</a>
			</li>

			<li>
				<a href="#!/admin/bannieres">GESTION DES BANNIERES
				</a>
			</li>

        </ul> 
    </div> 
    <div id="" class="col-lg-8" style="padding-right:0px;margin-top:20px; margin-" >
    	<h4 style="border-bottom:1px solid gray;padding-bottom:10px;"> gestion des bannieres</h4>
    	
        <p style="text-align:center;"><button  data-toggle="modal" href="#createBanniere"  style="color:orange;border-color:;font-weight:bold" type="button" class="btn btn-default btn-sm no-radius">creer une nouvelle banniere</button>
        </p>
        <div style="margin-left:50px;">
	        <table datatable="ng" id="mytable" class="row-border hover">
			    <thead>
				    <tr>
				        <th style="text-align:center;">ID</th>
				        <th style="text-align:center;">Page </th>
				        <th style="text-align:center;">image </th>
				        <th style="text-align:center;">Actions</th>
				    </tr>
			    </thead>
			    <tbody>
			    	<tr ng-repeat=" banniere in tabBanniere">
				        <td style="text-align:center;">{{$index +1}}</td>
				        <td style="text-align:center;"> {{banniere.page}} </td>
				        <td style="text-align:center;"> <img ng-src="{{baseUrl}}image/{{banniere.image}}" height="40" width="40"> </td>
				        <td style="text-align:center;"><button ng-click="selectBanniere(banniere)" data-toggle="modal" href="#modifyBanniere"  style="color:orange;font-weight:bold" type="button" class="btn btn-default btn-sm no-radius">Modifier</button> 
				        <button ng-click="selectBanniere(banniere)" data-toggle="modal" href="#deleteBanniere"  style="color:orange;font-weight:bold" type="button" class="btn btn-default btn-sm no-radius">Supprimer</button></td>
				    </tr>  
			    </tbody>
			</table>
		</div>
	</div>


	<div class="modal fade" id="createBanniere" role="dialog" style="margin-top:50px; color:black;">
  		<div class="modal-dialog">
    		<div class="modal-content" style="min-height:320px;">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal">x</button>
        			<h4 class="modal-title">Creer une nouvelle banniere</h4>
      			</div>
      			<div class="modal-body">
        			<div class="loadingPage" ng-show="isLoading">
          				<div class="col-lg-12" style="margin-top:0px;">
            				<p style="text-align:center; font-size:16px; color:gray;font-style:italic;">Enregistrement des donnees,veuillez patienter...<p>
            				<p style="text-align:center;">
              					<img src="images/load3.gif" height="200" width="200">
            				</p>
          				</div>
       		 		</div>
        		    <div ng-show="isNotSucceed" style="text-align:center; font-size: 16px; ">
            			<p style="margin-top:0px; color:red;">une banniere portant ce nom existe deja</p>
        			</div> 
        			<div class="content" ng-show="!isLoading">    
	          			<form  name="myForm"  ng-submit="createBanniere()" novalidate class="form-horizontal formulaire" style="padding-top:20px; font-size:14px; margin-left:10px;">
	            			<div class="form-group">
	              				<span class="control-label col-lg-3" for="nom">Nom de la Page</span>
	              				<div class="col-lg-8">
	                				<input type="input" name="page"  ng-model="page" class="form-control no-radius" id="page" placeholder="Entrez le nom de la page" required>
	                				<div class="error" ng-show="myForm.page.$invalid && myForm.page.$dirty">
	                  					<span ng-show="myForm.page.$error.required">
	                    					Entrer une valeur
	                  					</span>
	                				</div>
	             			 	</div>
	            			</div>
	            			<div class="form-group">
	              				<span class="control-label col-lg-3" for="nom">Priorite</span>
	              				<div class="col-lg-8">
	                				<input type="number" name="priority"  ng-model="priority" class="form-control no-radius" id="priority" placeholder="Entrez l'indice de priorité" required>
	                				<div class="error" ng-show="myForm.priority.$invalid && myForm.priority.$dirty">
	                  					<span ng-show="myForm.priority.$error.required">
	                    					Entrer une valeur
	                  					</span>
	                				</div>
	             			 	</div>
	            			</div>
	            			<div class="form-group">
	              				<span class="control-label col-lg-3" for="password">image </span>
	                			<div class="col-lg-8">
	                  				<input type="file" ngf-select="sendImage(picFile)" ng-model="picFile" name="file"    
             								accept="image/*" ngf-max-size="2MB" required
             								ngf-model-invalid="errorFile" > 
      								<i ng-show="myForm.file.$error.required">*required</i><br>
      								<i ng-show="myForm.file.$error.maxSize">File too large 
          								{{errorFile.size / 1000000|number:1}}MB: max 2M
          							</i>
          							<i ng-show="isUploading" style="color:green;">upload de fichier, veillez patienter...</i>
          							<img ng-show="myForm.file.$valid && !isUploading" ngf-thumbnail="picFile" class="thumb"> 
          							<button type="button" ng-click="picFile = null" ng-show="picFile && !isUploading">Retirer</button>
	                			</div>
	                		</div>
	               			<div class="form-group">
	                    		<div class="col-lg-offset-3 col-sm-10">
	                                <button type="submit" ng-disabled="myForm.$invalid || isUploading"  class="btn btn-warning no-radius">Enregistrer la banniere
	                                </button>
	                    		</div>
	                		</div>
	              		</form>
            		</div>
          		</div>
        	</div>
    	</div>
  	</div>

  	<div class="modal fade" id="deleteBanniere" role="dialog" style="margin-top:50px; color:black;">
  		<div class="modal-dialog">
    		<div class="modal-content" style="min-height:320px;">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal">x</button>
        			<h4 class="modal-title">Supprimer une banniere</h4>
      			</div>
      			<div class="modal-body">
        			<div class="loadingPage" ng-show="isLoading">
          				<div class="col-lg-12" style="margin-top:0px;">
            				<p style="text-align:center; font-size:16px; color:gray;font-style:italic;">Suppression de la banniere,veuillez patienter...<p>
            				<p style="text-align:center;">
              					<img src="images/load3.gif" height="200" width="200">
            				</p>
          				</div>
       		 		</div>
        			<div class="content" ng-show="!isLoading">    
	          			<p style="text-align:center; font-size:16px; color:gray;font-style:italic;">Voulez vous vraiment supprimer la banniere de la page {{selectBanniere.page}} 
	          			</p>
	          			<p style="text-align:center;">
	          				<button ng-click="ConfirmSupprimerBanniere()"  style="color:orange;font-weight:bold" type="button" class="btn btn-default btn-sm no-radius">Supprimer</button> 

	          				<button ng-click="annulerSuppressionBanniere()"  style="color:orange;font-weight:bold" type="button" class="btn btn-default btn-sm no-radius">Annuler
	          				</button>
	          			</p>
            		</div>
          		</div>
        	</div>
    	</div>
  	</div>

  	<div class="modal fade" id="modifyBanniere" role="dialog" style="margin-top:50px; color:black;">
  		<div class="modal-dialog">
    		<div class="modal-content" style="min-height:320px;">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal">x</button>
        			<h4 class="modal-title">Modifier  une banniere</h4>
      			</div>
      			<div class="modal-body">
        			<div class="loadingPage" ng-show="isLoading">
          				<div class="col-lg-12" style="margin-top:0px;">
            				<p style="text-align:center; font-size:16px; color:gray;font-style:italic;">Modification de la banniere ,veuillez patienter...<p>
            				<p style="text-align:center;">
              					<img src="images/load3.gif" height="200" width="200">
            				</p>
          				</div>
       		 		</div>
        		    <div ng-show="isNotSucceed" style="text-align:center; font-size: 16px; ">
            			<p style="margin-top:0px; color:red;">une marque portant ce nom existe deja</p>
        			</div> 
        			<div class="content" ng-show="!isLoading">    
	          			<form  name="myForm1"  ng-submit="modifierBanniere()" novalidate class="form-horizontal formulaire" style="padding-top:20px; font-size:14px; margin-left:10px;">
	            			<div class="form-group">
	              				<span class="control-label col-lg-3" for="nom">Page</span>
	              				<div class="col-lg-8">
	                				<input type="input" name="page"  ng-model="selectBanniere.page" class="form-control no-radius" id="page" placeholder="Entrez la page " required>
	                				<div class="error" ng-show="myForm1.page.$invalid && myForm1.page.$dirty">
	                  					<span ng-show="myForm1.page.$error.required">
	                    					Entrer une valeur
	                  					</span>
	                				</div>
	             			 	</div>
	            			</div>{{selectBanniere}}
	            			<div class="form-group">
	              				<span class="control-label col-lg-3" for="nom">Priorite</span>
	              				<div class="col-lg-8">
	                				<input type="number" name="priority"  ng-model="selectBanniere.priority" class="form-control no-radius" id="priority" placeholder="Entrez l'indice de priorite">
	                				<div class="error" ng-show="myForm.priority.$invalid && myForm.priority.$dirty">
	                  					<span ng-show="myForm.priority.$error.required">
	                    					Entrer une valeur
	                  					</span>
	                				</div>
	             			 	</div>
	            			</div>
	            			<div class="form-group">
	              				<span class="control-label col-lg-3" for="password">Image</span>
	                			<div class="col-lg-8">
	                  				<input type="file" ngf-select="sendImageModify(picFile)" ng-model="picFile" name="file"    
             								accept="image/*" ngf-max-size="2MB"
             								ngf-model-invalid="errorFile" > 
      								<i ng-show="myForm1.file.$error.required">*required</i><br>
      								<i ng-show="myForm1.file.$error.maxSize">File too large 
          								{{errorFile.size / 1000000|number:1}}MB: max 2M
          							</i>
          							<i ng-show="isUploading" style="color:green;">upload de fichier, veillez patienter...</i>
          							<img ng-show="myForm1.file.$valid && !isUploading" ngf-thumbnail="picFile" class="thumb"> 
          							<button type="button" ng-click="picFile = null" ng-show="picFile && !isUploading">Retirer</button>
	                			</div>
	                		</div>
	               			<div class="form-group">
	                    		<div class="col-lg-offset-3 col-sm-10">
	                                <button type="submit" ng-disabled="myForm1.$invalid || isUploading"  class="btn btn-warning no-radius">Enregistrer la modification</button>
	                    		</div>
	                		</div>
	              		</form>
            		</div>
          		</div>
        	</div>
    	</div>
  	</div>
</div>