
<div class="admin container-fluid" ng-controller="AdminCommandCtrl" >

	<div style="text-align:center;margin-top:0px;background-color:rgba(0,0,0,0.6);height:50px;color:white;margin-bottom:10px;">
		<h3 style="padding-top:10px;">Tableau de bord d'administration de Ounkoun</h3>
	</div>

	 <div class="col-lg-2 nav-gauche" style="height:500px;width:200px;color:white;">
        <ul class="vertical-menu" style="color:white; margin-top:30px;">
			<li>
				<a href="#!/admin/marques">GESTIONS DES MARQUES 
				</a>
			</li>
			<li>
				<a href="#!/admin/categories">GESTIONS DES CATEGORIES
				</a>
			</li>
			<li>
				<a href="#!/admin/produits">GESTIONS DES PRODUITS
				</a>
			</li>
			<li>
				<a href="#!/admin/utilisateurs">GESTION DES UTILISATEURS </a>
			</li>
		    <li>
				<a href="#!/admin/commandes">GESTION DES COMMANDES
				</a>
			</li>
			<li>
        		<a href="#!/admin/boutique">GESTION DES BOUTIQUES</a>
      		</li>	
			<li>
				<a href="#!/admin/notifications">GESTION DES NOTIFICATIONS
				</a>
			</li>
        </ul> 
    </div> 
    <div id="" class="col-lg-8" style="padding-right:0px;margin-top:20px; margin-" >
    	<h4 style="border-bottom:1px solid gray;padding-bottom:10px;"> gestion des commandes</h4>
    	
        <div style="margin-left:50px;">
	        <table datatable="ng" id="mytable" class="row-border hover">
			    <thead>
				    <tr>
				        <th style="text-align:center;">ID</th>
				        <th style="text-align:center;">Reference</th>
				        <th style="text-align:center;">Date de la Cmd.</th>
				        <th style="text-align:center;"> traitée </th>
				        <th style="text-align:center;">Actions</th>
				    </tr>
			    </thead>
			    <tbody>
			    	<tr ng-repeat=" command in tabCommand">
				        <td style="text-align:center;"> {{$index +1}} </td>
				        <td style="text-align:center;"> {{command.reference}} </td>
				        <td style="text-align:center;"> {{command.dateCreation.date}}</td>
				        <td style="text-align:center;"> {{command.isTreated}}   </td>
				        <td style="text-align:center;"><button ng-click="goToDetail(command.reference)"  style="color:orange;font-weight:bold" type="button" class="btn btn-default btn-sm no-radius">voir details</button> 
				        
				       </tr>
			    </tbody>
			</table>
		</div>
	</div>

	<div class="col-lg-2" style="margin-top:60px; text-align: center; font-weight: bold;">
		<p>Filtrer par:</p>
		<button ng-click="viewAllFiltre()" data-toggle="modal"  ng-class= "{'selectedOption': allFiltre,'nonSelectedOption': !allFiltre}"  style="" type="button" class="btn btn-default btn-sm no-radius">Toutes les commandes
		</button>

		<button ng-click="viewTraiterFiltre()" data-toggle="modal"  ng-class = " {'selectedOption': traiterFiltre,'nonSelectedOption': !traiterFiltre}" style="" type="button" class="btn btn-default btn-sm no-radius">Commande Traitées
		</button>

		<button ng-click="viewNontraiterFiltre()" data-toggle="modal" ng-class= "{'selectedOption': nontraiterFiltre,'nonSelectedOption': !nontraiterFiltre}" style="" type="button" class="btn btn-default btn-sm no-radius">Commande Non Traitées
		</button>

		<button ng-click="viewLivrerFiltre()" data-toggle="modal"  ng-class= "{'selectedOption': livrerFiltre,'nonSelectedOption': !livrerFiltre}"  style="" type="button" class="btn btn-default btn-sm no-radius">Commande livrées
		</button>

		<button ng-click="viewNonlivrerFiltre()" data-toggle="modal"  ng-class= "{'selectedOption': nonLivrerFiltre,'nonSelectedOption': !nonLivrerFiltre}"  style="" type="button" class="btn btn-default btn-sm no-radius">Commande non livrées
		</button>

	</div>


	<div class="modal fade" id="createMarque" role="dialog" style="margin-top:50px; color:black;">
  		<div class="modal-dialog">
    		<div class="modal-content" style="min-height:320px;">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal">x</button>
        			<h4 class="modal-title">Creer une nouvelle marque</h4>
      			</div>
      			<div class="modal-body">
        			<div class="loadingPage" ng-show="isLoading">
          				<div class="col-lg-12" style="margin-top:0px;">
            				<p style="text-align:center; font-size:16px; color:gray;font-style:italic;">Enregistrement des donnees,veuillez patienter...<p>
            				<p style="text-align:center;">
              					<img src="images/load3.gif" height="200" width="200">
            				</p>
          				</div>
       		 		</div>
        		    <div ng-show="isNotSucceed" style="text-align:center; font-size: 16px; ">
            			<p style="margin-top:0px; color:red;">une marque portant ce nom existe deja</p>
        			</div> 
        			<div class="content" ng-show="!isLoading">    
	          			<form  name="myForm"  ng-submit="createMarque()" novalidate class="form-horizontal formulaire" style="padding-top:20px; font-size:14px; margin-left:10px;">
	            			<div class="form-group">
	              				<span class="control-label col-lg-3" for="nom">Nom de la marque</span>
	              				<div class="col-lg-8">
	                				<input type="input" name="marque"  ng-model="marque" class="form-control no-radius" id="marque" placeholder="Entrez le nom de la marque" required>
	                				<div class="error" ng-show="myForm.marque.$invalid && myForm.marque.$dirty">
	                  					<span ng-show="myForm.marque.$error.required">
	                    					Entrer une valeur
	                  					</span>
	                				</div>
	             			 	</div>
	            			</div>
	            			<div class="form-group">
	              				<span class="control-label col-lg-3" for="nom">Popularite</span>
	              				<div class="col-lg-8">
	                				<input type="number" name="popularity"  ng-model="popularity" class="form-control no-radius" id="popularity" placeholder="Entrez l'indice de popularite" required>
	                				<div class="error" ng-show="myForm.popularity.$invalid && myForm.popularity.$dirty">
	                  					<span ng-show="myForm.popularity.$error.required">
	                    					Entrer une valeur
	                  					</span>
	                				</div>
	             			 	</div>
	            			</div>
	            			<div class="form-group">
	              				<span class="control-label col-lg-3" for="password">Logo de la marque</span>
	                			<div class="col-lg-8">
	                  				<input type="file" ngf-select="sendImage(picFile)" ng-model="picFile" name="file"    
             								accept="image/*" ngf-max-size="2MB" required
             								ngf-model-invalid="errorFile" > 
      								<i ng-show="myForm.file.$error.required">*required</i><br>
      								<i ng-show="myForm.file.$error.maxSize">File too large 
          								{{errorFile.size / 1000000|number:1}}MB: max 2M
          							</i>
          							<i ng-show="isUploading" style="color:green;">upload de fichier, veillez patienter...</i>
          							<img ng-show="myForm.file.$valid && !isUploading" ngf-thumbnail="picFile" class="thumb"> 
          							<button type="button" ng-click="picFile = null" ng-show="picFile && !isUploading">Retirer</button>
	                			</div>
	                		</div>
	               			<div class="form-group">
	                    		<div class="col-lg-offset-3 col-sm-10">
	                                <button type="submit" ng-disabled="myForm.$invalid || isUploading"  class="btn btn-warning no-radius">Enregistrer la marque</button>
	                    		</div>
	                		</div>
	              		</form>
            		</div>
          		</div>
        	</div>
    	</div>
  	</div>

  	<div class="modal fade" id="deleteMarque" role="dialog" style="margin-top:50px; color:black;">
  		<div class="modal-dialog">
    		<div class="modal-content" style="min-height:320px;">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal">x</button>
        			<h4 class="modal-title">Supprimer une marque</h4>
      			</div>
      			<div class="modal-body">
        			<div class="loadingPage" ng-show="isLoading">
          				<div class="col-lg-12" style="margin-top:0px;">
            				<p style="text-align:center; font-size:16px; color:gray;font-style:italic;">Suppression de la marque,veuillez patienter...<p>
            				<p style="text-align:center;">
              					<img src="images/load3.gif" height="200" width="200">
            				</p>
          				</div>
       		 		</div>
        			<div class="content" ng-show="!isLoading">    
	          			<p style="text-align:center; font-size:16px; color:gray;font-style:italic;">Voulez vous vraiment supprimer la marque {{selectMarque.name}} 
	          			</p>
	          			<p style="text-align:center;">
	          				<button ng-click="ConfirmSupprimerMarque()"  style="color:orange;font-weight:bold" type="button" class="btn btn-default btn-sm no-radius">Supprimer</button> 

	          				<button ng-click="annulerSuppressionMarque()"  style="color:orange;font-weight:bold" type="button" class="btn btn-default btn-sm no-radius">Annuler
	          				</button>
	          			</p>


            		</div>
          		</div>
        	</div>
    	</div>
  	</div>

  	<div class="modal fade" id="modifyMarque" role="dialog" style="margin-top:50px; color:black;">
  		<div class="modal-dialog">
    		<div class="modal-content" style="min-height:320px;">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal">x</button>
        			<h4 class="modal-title">Modifier  une  marque</h4>
      			</div>
      			<div class="modal-body">
        			<div class="loadingPage" ng-show="isLoading">
          				<div class="col-lg-12" style="margin-top:0px;">
            				<p style="text-align:center; font-size:16px; color:gray;font-style:italic;">Modification de la marque ,veuillez patienter...<p>
            				<p style="text-align:center;">
              					<img src="images/load3.gif" height="200" width="200">
            				</p>
          				</div>
       		 		</div>
        		    <div ng-show="isNotSucceed" style="text-align:center; font-size: 16px; ">
            			<p style="margin-top:0px; color:red;">une marque portant ce nom existe deja</p>
        			</div> 
        			<div class="content" ng-show="!isLoading">    
	          			<form  name="myForm1"  ng-submit="modifierMarque()" novalidate class="form-horizontal formulaire" style="padding-top:20px; font-size:14px; margin-left:10px;">
	            			<div class="form-group">
	              				<span class="control-label col-lg-3" for="nom">Nom de la marque</span>
	              				<div class="col-lg-8">
	                				<input type="input" name="marque"  ng-model="selectMarque.name" class="form-control no-radius" id="marque" placeholder="Entrez le nom de la marque" required>
	                				<div class="error" ng-show="myForm1.marque.$invalid && myForm1.marque.$dirty">
	                  					<span ng-show="myForm1.marque.$error.required">
	                    					Entrer une valeur
	                  					</span>
	                				</div>
	             			 	</div>
	            			</div>
	            			<div class="form-group">
	              				<span class="control-label col-lg-3" for="nom">Popularite</span>
	              				<div class="col-lg-8">
	                				<input type="number" name="popularity"  ng-model="selectMarque.popularity" class="form-control no-radius" id="popularity" placeholder="Entrez l'indice de popularite">
	                				<div class="error" ng-show="myForm.popularity.$invalid && myForm.popularity.$dirty">
	                  					<span ng-show="myForm.popularity.$error.required">
	                    					Entrer une valeur
	                  					</span>
	                				</div>
	             			 	</div>
	            			</div>
	            			<div class="form-group">
	              				<span class="control-label col-lg-3" for="password">Logo de la marque</span>
	                			<div class="col-lg-8">
	                  				<input type="file" ngf-select="sendImageModify(picFile)" ng-model="picFile" name="file"    
             								accept="image/*" ngf-max-size="2MB"
             								ngf-model-invalid="errorFile" > 
      								<i ng-show="myForm1.file.$error.required">*required</i><br>
      								<i ng-show="myForm1.file.$error.maxSize">File too large 
          								{{errorFile.size / 1000000|number:1}}MB: max 2M
          							</i>
          							<i ng-show="isUploading" style="color:green;">upload de fichier, veillez patienter...</i>
          							<img ng-show="myForm1.file.$valid && !isUploading" ngf-thumbnail="picFile" class="thumb"> 
          							<button type="button" ng-click="picFile = null" ng-show="picFile && !isUploading">Retirer</button>
	                			</div>
	                		</div>
	               			<div class="form-group">
	                    		<div class="col-lg-offset-3 col-sm-10">
	                                <button type="submit" ng-disabled="myForm1.$invalid || isUploading"  class="btn btn-warning no-radius">Enregistrer la modification</button>
	                    		</div>
	                		</div>
	              		</form>
            		</div>
          		</div>
        	</div>
    	</div>
  	</div>
</div>