
<div class="admin container-fluid"  ng-controller="AdminCommandeDetailCtrl">

  <div style="text-align:center;margin-top:0px;background-color:rgba(0,0,0,0.6);height:50px;color:white;margin-bottom:10px;">
    <h3 style="padding-top:10px;">Tableau de bord d'administration de Ounkoun</h3>
  </div>

	<div class="" style="margin-top:20px; min-height:800px;">

		
   
    <div class="row" style="margin-top:30px;">
  		<div class="col-lg-12">
    			<h4 style="height:30px;border-bottom:1px solid gray;font-size:17px; margin-bottom:20px;">Commande: {{reference}}</h4>
    	</div>
    </div>

    <div class="row">
      <div class="col-lg-2">

      <button ng-click="viewAllFiltre()" data-toggle="modal"   style="color:orange;font-weight:bold;margin-bottom: 10px; width: 160px;" type="button" class="btn btn-default btn-sm no-radius">Imprimer la facture
      </button>

      <button ng-click="viewTraiterFiltre()" data-toggle="modal" href="#cancelCommandModal"style="color:orange;font-weight:bold;margin-bottom: 10px; width: 160px;" type="button" class="btn btn-default btn-sm no-radius">Annuler la commande
      </button>

      <button ng-click="viewNontraiterFiltre()" data-toggle="modal" style="color:orange;font-weight:bold;margin-bottom: 10px; width: 160px;" type="button" class="btn btn-default btn-sm no-radius">Marque comme traiter
      </button>

      </div>
      <div class="col-lg-10">
        <table class="table table-bordered table-striped table-condensed" ng-show="!estVide">
              <tbody>
              <tr>
                <th>Reference</th>
                <td>{{command.reference}}</td>
              </tr>

              <tr>
                <th>Date de la commande</th>
                <td>  {{command.dateCreation.date| limitTo:10}} </td>
              </tr>

              <tr>
                <th>Traitee</th>
                <td>   <span ng-show="command.isTreated"> Oui</span><span ng-show="!command.isTreated">Non</span> </td>
              </tr>
              
              <tr>
                <th>Annulee</th>
                <td>   <span ng-show="command.isCancel"> Oui</span><span ng-show="!command.isCancel">Non</span> </td>
              </tr>


              <tr>
                <th>Payee</th>
                <td>   <span ng-show="command.isPaided"> Oui</span><span ng-show="!command.isPaided"> Non</span> </td>
              </tr>

              <tr>
                <th>Livree</th>
                <td>   <span ng-show="command.isShipped"> Oui</span><span ng-show="!command.isShipped">Non</span> </td>
              </tr>



              <tr>
                <th>Adresse de livraison</th>
                <td>  
                  <ul>
                    <li>Receptionneur:{{command.livraisonAdress.name }} {{command.livraisonAdress.firstName }} </li>
                    <li>Tel 1:{{command.livraisonAdress.tel1}} </li>
                    <li>Tel 2: {{command.livraisonAdress.tel2}} </li>
                    <li>Region: {{command.livraisonAdress.region}}</li>
                    <li>Ville: {{command.livraisonAdress.town}} </li>
                    <li>Adresse: {{command.livraisonAdress.adresse}}</li>
                  </ul>
                 </td>
              </tr>

              <tr>
                <th>Articles</th>
                <td>  
                    <table class="table  table-striped table-condensed">
                
               
                <tr id="panierDetail" ng-repeat="item in command.products">
                
                      <td width="60%">
                          <div class="col-lg-2">
                          <img src="images/load3.gif"  ng-src="{{baseUrl}}image/{{item.product.idImage}}"  width="60" height="60">
                          </div>
                          <div  class="col-lg-10"  style="margin-top:5px;"><p style="font-size:14px; font-weight:bold;">  {{item.product.name}}</p> 
                            <p style="margin-top:-10px; font-size:14px;">
                              {{item.quantity}} x {{item.price}} FCFA = {{item.quantity * item.price}} FCFA
                            </p>
                            <p ng-show=" item.isCancel" style="color:red;">Annuler</p>
                            <button ng-click="cancelArticle(item.product.name)" data-toggle="modal"   style="color:orange;font-weight:bold;margin-bottom: 10px; width: 160px;" type="button" class="btn btn-default btn-sm no-radius">Annuler le produit
                            </button>
                            <button ng-click="selectArticle(item.product)"  data-toggle="modal" href="#cancelArticleModal"   style="color:orange;font-weight:bold;margin-bottom: 10px; width: 160px;" type="button" class="btn btn-default btn-sm no-radius">Modifier La quantite
                            </button>
                          </div>
                      </td>
                </tr>
                
                </table>
                </td>
              </tr>
              <tr>
                <th>Total</th>
                <td align="center">{{total(actualCommand)}} FCFA</td>
              </tr>               
              </tbody>
          </table>
      </div>
    </div>

    <div class="modal fade" id="cancelArticleModal" role="dialog" style="margin-top:50px; color:black;">
      <div class="modal-dialog">
        <div class="modal-content" style="min-height:320px;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">x</button>
              <h4 class="modal-title">Annuler un article</h4>
            </div>
            <div class="modal-body">
              <div class="loadingPage" ng-show="isLoading">
                  <div class="col-lg-12" style="margin-top:0px;">
                    <p style="text-align:center; font-size:16px; color:gray;font-style:italic;">Suppression de la marque,veuillez patienter...<p>
                    <p style="text-align:center;">
                        <img src="images/load3.gif" height="200" width="200">
                    </p>
                  </div>
              </div>
              <div class="content" ng-show="!isLoading">    
                  <p style="text-align:center; font-size:16px; color:gray;font-style:italic;">Voulez vous vraiment supprimer l'article {{selectArticle.name}} de la commande
                  </p>
                  <p style="text-align:center;">
                    <button ng-click="cancelArticle()"  style="color:orange;font-weight:bold" type="button" class="btn btn-default btn-sm no-radius">Supprimer</button> 

                    <button ng-click="annuler()"  style="color:orange;font-weight:bold" type="button" class="btn btn-default btn-sm no-radius">Annuler
                    </button>
                  </p>
              </div>
            </div>
          </div>
      </div>
    </div>


    <div class="modal fade" id="cancelCommandModal" role="dialog" style="margin-top:50px; color:black;">
      <div class="modal-dialog">
        <div class="modal-content" style="min-height:320px;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">x</button>
              <h4 class="modal-title">Annuler la commande</h4>
            </div>
            <div class="modal-body">
              <div class="loadingPage" ng-show="isLoading">
                  <div class="col-lg-12" style="margin-top:0px;">
                    <p style="text-align:center; font-size:16px; color:gray;font-style:italic;">Annulation de la commande,veuillez patienter...<p>
                    <p style="text-align:center;">
                        <img src="images/load3.gif" height="200" width="200">
                    </p>
                  </div>
              </div>
              <div class="content" ng-show="!isLoading">    
                  <p style="text-align:center; font-size:16px; color:gray;font-style:italic;">Voulez vous vraiment Annuler cette commande
                  </p>
                  <p style="text-align:center;">
                    <button ng-click="cancelCommande()"  style="color:orange;font-weight:bold" type="button" class="btn btn-default btn-sm no-radius">Oui</button> 

                    <button ng-click="annuler()"  style="color:orange;font-weight:bold" type="button" class="btn btn-default btn-sm no-radius">Non
                    </button>
                  </p>
              </div>
            </div>
          </div>
      </div>
    </div>
