<div class="admin container-fluid" >

	<div style="text-align:center;margin-top:0px;background-color:rgba(0,0,0,0.6);height:50px;color:white;margin-bottom:10px;">
		<h3 style="padding-top:10px;">Tableau de bord d'administration de Ounkoun</h3>
	</div>

	<div class="col-lg-2 nav-gauche" style="height:500px;width:200px;color:white;">
        <ul class="vertical-menu" style="color:white; margin-top:30px;">
		   
			<li>
				<a href="#!/admin/marques">GESTIONS DES MARQUES 
				</a>
			</li>
			<li>
				<a href="#!/admin/categories">GESTIONS DES CATEGORIES
				</a>
			</li>
			<li>
				<a href="#!/admin/produits">GESTIONS DES PRODUITS
				</a>
			</li>
			<li>
				<a href="#!/admin/utilisateurs">GESTION DES UTILISATEURS </a>
			</li>
		    <li>
				<a href="#!/admin/commandes">GESTION DES COMMANDES
				</a>
			</li>

			<li>
		        <a href="#!/admin/boutique">GESTION DES BOUTIQUES
		        </a>
      		</li>

			<li>
				<a href="#!/admin/notifications">GESTION DES NOTIFICATIONS
				</a>
			</li>

			<li>
				<a href="#!/admin/bannieres">GESTION DES BANNIERES
				</a>
			</li>

			<li>
				<a href="#!/admin/encheres">GESTION DES ENCHERES
				</a>
			</li>
        </ul> 
    </div> 
    <div id="" class="col-lg-8" style="padding-right:0px; text-align:center;margin-top:150px;" >
    		<div style="font-size:100px;min-height:30px;max-height:30px;color:orange;top:-5px;left:10px;">OunKoun<span style="font-size:40px;">.cm</span></div>
	</div>
</div>