
<div class="admin container-fluid" ng-controller="AdminVendeurCtrl" >

  <div style="text-align:center;margin-top:0px;background-color:rgba(0,0,0,0.6);height:50px;color:white;margin-bottom:10px;">
    <h3 style="padding-top:10px;">Tableau de bord d'administration de Ounkoun</h3>
  </div>

   <div class="col-lg-2 nav-gauche" style="height:500px;width:200px;color:white;">
        <ul class="vertical-menu" style="color:white; margin-top:30px;">
       
      <li>
        <a href="#!/admin/marques">GESTIONS DES MARQUES 
        </a>
      </li>
      <li>
        <a href="#!/admin/categories">GESTIONS DES CATEGORIES
        </a>
      </li>
      <li>
        <a href="#!/admin/produits">GESTIONS DES PRODUITS
        </a>
      </li>
      <li>
        <a href="#!/admin/utilisateurs">GESTION DES UTILISATEURS </a>
      </li>
      
      <li>
        <a href="#!/admin/commandes">GESTION DES COMMANDES
        </a>
      </li> 
      
      <li>
        <a href="#!/admin/boutique">GESTION DES BOUTIQUES
        </a>
      </li> 

      <li>
        <a href="#!/admin/notifications">GESTION DES NOTIFICATIONS
        </a>
      </li>
        </ul> 
    </div> 
    <div id="" class="col-lg-8" style="padding-right:0px;margin-top:20px; margin-" >
      <h4 style="border-bottom:1px solid gray;padding-bottom:10px;"> gestion des vendeurs</h4>
      
        <p style="text-align:center;"><button  data-toggle="modal" href="#createBoutique"  style="color:orange;border-color:;font-weight:bold" type="button" class="btn btn-default btn-sm no-radius">creer une nouvelle boutique</button>
        </p>
        <div style="margin-left:50px;">
          <table datatable="ng" id="mytable" class="row-border hover">
          <thead>
            <tr>
                <th style="text-align:center;">ID</th>
                <th style="text-align:center;">Nom </th>
                <th style="text-align:center;">Tel </th>
                <th style="text-align:center;">Adresse </th>
                <th style="text-align:center;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat=" boutique in boutiques">

                <td style="text-align:center;"> {{$index +1}} </td>
                <td style="text-align:center;"> {{boutique.name}} </td>
                <td style="text-align:center;"> {{boutique.tel1}} - {{boutique.tel2}}   </td>
                <td style="text-align:center;"> {{boutique.adresse}} </td>
               
                <td style="text-align:center;">
                  <button ng-click="selectBoutique(boutique)" data-toggle="modal" href="#modifyBoutique"  style="color:orange;font-weight:bold" type="button" class="btn btn-default btn-sm no-radius">Modifier</button> 
                  <button ng-click="selectBoutique(boutique)" data-toggle="modal" href="#deleteBoutique"  style="color:orange;font-weight:bold" type="button" class="btn btn-default btn-sm no-radius">Supprimer</button>
                </td>
                
          </tbody>
      </table>
    </div>
  </div>


  <div class="modal fade" id="createBoutique" role="dialog" style="margin-top:50px; color:black;">
      <div class="modal-dialog">
        <div class="modal-content" style="min-height:320px;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">x</button>
              <h4 class="modal-title">Creer une nouvelle boutique</h4>
            </div>
            <div class="modal-body">
              <div class="loadingPage" ng-show="isLoading">
                  <div class="col-lg-12" style="margin-top:0px;">
                    <p style="text-align:center; font-size:16px; color:gray;font-style:italic;">Enregistrement des donnees,veuillez patienter...<p>
                    <p style="text-align:center;">
                        <img src="images/load3.gif" height="200" width="200">
                    </p>
                  </div>
              </div>
                <div ng-show="isNotSucceed" style="text-align:center; font-size: 16px; ">
                  <p style="margin-top:0px; color:red;">une boutique portant ce nom existe deja</p>
              </div> 
              <div class="content" ng-show="!isLoading">    
                  <form  name="myForm"  ng-submit="createBoutique()" novalidate class="form-horizontal formulaire" style="padding-top:20px; font-size:14px; margin-left:10px;">
                    
                    <div class="form-group">
                        <span class="control-label col-lg-3" for="nom">Nom de la boutique</span>
                        <div class="col-lg-8">
                          <input type="input" name="name"  ng-model="name" class="form-control no-radius" id="boutique" placeholder="Entrez le nom de la boutique" required>
                          <div class="error" ng-show="myForm.name.$invalid && myForm.name.$dirty">
                              <span ng-show="myForm.name.$error.required">
                                Entrer une valeur
                              </span>
                          </div>
                      </div>
                    </div>

                    <div class="form-group">
                        <span class="control-label col-lg-3" for="password">Logo de la boutique</span>
                        <div class="col-lg-8">
                            <input type="file" ngf-select="sendImage(picFile)" ng-model="picFile" name="file"    
                            accept="image/*" ngf-max-size="2MB" required
                            ngf-model-invalid="errorFile" > 
                      <i ng-show="myForm.file.$error.required">*required</i><br>
                      <i ng-show="myForm.file.$error.maxSize">File too large 
                          {{errorFile.size / 1000000|number:1}}MB: max 2M
                        </i>
                        <i ng-show="isUploading" style="color:green;">upload de fichier, veillez patienter...</i>
                        <img ng-show="myForm.file.$valid && !isUploading" ngf-thumbnail="picFile" class="thumb"> 
                        <button type="button" ng-click="picFile = null" ng-show="picFile && !isUploading">Retirer</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="control-label col-lg-3" for="nom">Tel1</span>
                        <div class="col-lg-8">
                          <input type="input" name="tel1"  ng-model="tel1" class="form-control no-radius" id="boutique" placeholder="Entrez le numero de telephone 1" required>
                          <div class="error" ng-show="myForm.tel1.$invalid && myForm.tel1.$dirty">
                              <span ng-show="myForm.tel1.$error.required">
                                Entrer une valeur
                              </span>
                          </div>
                      </div>
                    </div>

                    <div class="form-group">
                        <span class="control-label col-lg-3" for="nom">Tel2</span>
                        <div class="col-lg-8">
                          <input type="input" name="tel2"  ng-model="tel2" class="form-control no-radius" id="boutique" placeholder="Entrez le numero de telephone 2" required>
                          <div class="error" ng-show="myForm.tel2.$invalid && myForm.tel2.$dirty">
                              <span ng-show="myForm.tel2.$error.required">
                                Entrer une valeur
                              </span>
                          </div>
                      </div>
                    </div>

                    <div class="form-group">
                        <span class="control-label col-lg-3" for="nom">Adresse</span>
                        <div class="col-lg-8">
                          <input type="input" name="adresse"  ng-model="adresse" class="form-control no-radius" id="adresse" placeholder="Entrez l'adresse" required>
                          <div class="error" ng-show="myForm.adresse.$invalid && myForm.adresse.$dirty">
                              <span ng-show="myForm.adresse.$error.required">
                                Entrer une valeur
                              </span>
                          </div>
                      </div>
                    </div>
                    
                    
                        <div class="form-group">
                            <div class="col-lg-offset-3 col-sm-10">
                                    <button type="submit" ng-disabled="myForm.$invalid || isUploading"  class="btn btn-warning no-radius">Enregistrer la boutique</button>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
          </div>
      </div>
    </div>

    <div class="modal fade" id="deleteBoutique" role="dialog" style="margin-top:50px; color:black;">
      <div class="modal-dialog">
        <div class="modal-content" style="min-height:320px;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">x</button>
              <h4 class="modal-title">Supprimer la boutique</h4>
            </div>
            <div class="modal-body">
              <div class="loadingPage" ng-show="isLoading">
                  <div class="col-lg-12" style="margin-top:0px;">
                    <p style="text-align:center; font-size:16px; color:gray;font-style:italic;">Suppression de la boutique,veuillez patienter...<p>
                    <p style="text-align:center;">
                        <img src="images/load3.gif" height="200" width="200">
                    </p>
                  </div>
              </div>
              <div class="content" ng-show="!isLoading">    
                  <p style="text-align:center; font-size:16px; color:gray;font-style:italic;">Voulez vous vraiment supprimer la boutique {{selectBoutique.name}} 
                  </p>
                  <p style="text-align:center;">
                    <button ng-click="ConfirmSupprimerBoutique()"  style="color:orange;font-weight:bold" type="button" class="btn btn-default btn-sm no-radius">Supprimer</button> 

                    <button ng-click="annulerSuppressionBoutique()"  style="color:orange;font-weight:bold" type="button" class="btn btn-default btn-sm no-radius">Annuler
                    </button>
                  </p>
              </div>
              </div>
          </div>
      </div>
    </div>

    <div class="modal fade" id="modifyBoutique" role="dialog" style="margin-top:50px; color:black;">
      <div class="modal-dialog">
        <div class="modal-content" style="min-height:320px;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">x</button>
              <h4 class="modal-title">Modifier  la boutique</h4>
            </div>
            <div class="modal-body">
              <div class="loadingPage" ng-show="isLoading">
                  <div class="col-lg-12" style="margin-top:0px;">
                    <p style="text-align:center; font-size:16px; color:gray;font-style:italic;">Modification de la boutique ,veuillez patienter...<p>
                    <p style="text-align:center;">
                        <img src="images/load3.gif" height="200" width="200">
                    </p>
                  </div>
              </div>
              <div ng-show="isNotSucceed" style="text-align:center; font-size: 16px; ">
                  <p style="margin-top:0px; color:red;">une boutique  portant ce nom existe deja</p>
              </div> 
              <div class="content" ng-show="!isLoading">    
                  <form  name="myForm1"  ng-submit="modifierBoutique()" novalidate class="form-horizontal formulaire" style="padding-top:20px; font-size:14px; margin-left:10px;">
                    
                    <div class="form-group">
                        <span class="control-label col-lg-3" for="nom">Nom de la boutique</span>
                        <div class="col-lg-8">
                          <input type="input" name="name"  ng-model="selectBoutique.name" class="form-control no-radius" id="name" placeholder="Entrez le nom de la boutique" required>
                          <div class="error" ng-show="myForm1.name.$invalid && myForm1.name.$dirty">
                              <span ng-show="myForm1.name.$error.required">
                                Entrer une valeur
                              </span>
                          </div>
                      </div>
                    </div>

                    <div class="form-group">
                        <span class="control-label col-lg-3" for="password">Logo de la boutique</span>
                        <div class="col-lg-8">
                            <input type="file" ngf-select="sendImageModify(picFile)" ng-model="picFile" name="file"    
                            accept="image/*" ngf-max-size="2MB"
                            ngf-model-invalid="errorFile" > 
                      <i ng-show="myForm1.file.$error.required">*required</i><br>
                      <i ng-show="myForm1.file.$error.maxSize">File too large 
                          {{errorFile.size / 1000000|number:1}}MB: max 2M
                        </i>
                        <i ng-show="isUploading" style="color:green;">upload de fichier, veillez patienter...</i>
                        <img ng-show="myForm1.file.$valid && !isUploading" ngf-thumbnail="picFile" class="thumb"> 
                        <button type="button" ng-click="picFile = null" ng-show="picFile && !isUploading">Retirer</button>
                        </div>
                      </div>

                    

                    <div class="form-group">
                        <span class="control-label col-lg-3" for="nom">Tel1</span>
                        <div class="col-lg-8">
                          <input type="input" name="tel1"  ng-model="selectBoutique.tel1" class="form-control no-radius" id="name" placeholder="Entrez le nom de la boutique" required>
                          <div class="error" ng-show="myForm1.tel1.$invalid && myForm1.tel1.$dirty">
                              <span ng-show="myForm1.tel1.$error.required">
                                Entrer une valeur
                              </span>
                          </div>
                      </div>
                    </div>


                    <div class="form-group">
                        <span class="control-label col-lg-3" for="nom">Tel2</span>
                        <div class="col-lg-8">
                          <input type="input" name="tel1"  ng-model="selectBoutique.tel2" class="form-control no-radius" id="name" placeholder="Entrez le nom de la boutique" required>
                          <div class="error" ng-show="myForm1.tel2.$invalid && myForm1.tel2.$dirty">
                              <span ng-show="myForm1.tel2.$error.required">
                                Entrer une valeur
                              </span>
                          </div>
                      </div>
                    </div>

                    <div class="form-group">
                        <span class="control-label col-lg-3" for="nom">Adresse</span>
                        <div class="col-lg-8">
                          <input type="input" name="adresse"  ng-model="selectBoutique.adresse" class="form-control no-radius" id="adresse" placeholder="Entrez l'adresse de la boutique" required>
                          <div class="error" ng-show="myForm1.adresse.$invalid && myForm1.adresse.$dirty">
                              <span ng-show="myForm1.adresse.$error.required">
                                Entrer une valeur
                              </span>
                          </div>
                      </div>
                    </div>
                    
 
                    <div class="form-group">
                          <div class="col-lg-offset-3 col-sm-10">
                                  <button type="submit" ng-disabled="myForm1.$invalid || isUploading"  class="btn btn-warning no-radius">Enregistrer la modification
                                  </button>
                          </div>
                    </div>

                  </form>
                </div>
              </div>
          </div>
      </div>
    </div>
</div>