
.init-password form .ng-invalid.ng-dirty { border-color: lightpink; }
/*.inscription form .ng-valid.ng-dirty { background-color: lightgreen; }*/
.init-password.formulaire.summary.ng-invalid { color: red; font-weight: bold; }
.init-password.formulaire.summary.ng-valid { color: green; }

.init-password div.error {
	color: red; 
	font-weight:
	 bold; 
	 font-size:12px; 
}

.init-password-loadingPan p{
	text-align:center;
	font-size:20px;
	border:solid 1px gray;
	background-color: #eee;
}

.init-password .init-password-finishPan p{
	text-align:center;
	font-size:20px;
	color: green;
}