#produitsParMarque .pagination li a{
height : 25px;
font-size: 12px;
margin-right: 5px;
border-radius: 0px;
}


#produitsParMarque .no-radius{
  border-radius: 0 !important;
}

#produitsParMarque .panneau{
  width: 220px;
  margin-right: 10px; 
  padding: 0 0 0 0;
  border-color:transparent;
}

#produitsParMarque .panneau:hover{
   border-color:gray;
}

#produitsParMarque .panneau .panel-body .transparent-pan-detail{
  position: absolute;
  z-index: 99;
  background-color: rgba(0,0,0,0.7);
  display: block;
  left: 0px;
  bottom:0px;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: all 0.5s;

}

#produitsParMarque .panneau .panel-body:hover > .transparent-pan-detail{
 height:25%;
}

#produitsParMarque .panneau .panel-body .transparent-pan-gros{
  position: absolute;
  z-index: 99;
  background-color: rgba(0,0,0,0.7);
  display: block;
  left: 0px;
  bottom:0px;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: all 0.5s;

}

#produitsParMarque .panneau .panel-body:hover > .transparent-pan-gros{
 height:25%;
}

#produitsParMarque .panneau .panel-body .transparent-pan-detail-gros{
  position: absolute;
  z-index: 99;
  background-color: rgba(0,0,0,0.7);
  display: block;
  left: 0px;
  bottom:0px;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: all 0.5s;

}

#produitsParMarque .panneau .panel-body:hover > .transparent-pan-detail-gros{
 height:32%;
}

#produitsParMarque .links {
    color: black;
    text-decoration: none;
}


#produitsParMarque .links:visited {
      color: black;
    text-decoration: none;

}

#produitsParMarque .links:active {
     color: black;
    text-decoration: none;   
}

#produitsParMarque .links:hover {
     color: black;
    text-decoration: none;
}

#produitsParMarque .message-pan{
    height: 100px;
    background-color: #b5cabd;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
}

#produitsParMarque .nav-gauche a {
    color: gray;
    text-decoration: none;
}

/*************************style slider*************************/
.rzslider .rz-bar-wrapper{
 
width: 80%;
height: 20px;
}
.rzslider .rz-pointer{
  height: 20px;
  width: 20px;
  top: -8px;
}

.rzslider .rz-pointer::after {
    position: absolute;
    top: 7px;
    left: 6px;
}

.rz-bubble{
  font-size: 10px;
}